html, body {
  font-family: monospace;
  font-size: 24px;
}
.center {
  font-family: monospace;
  text-align: center;
  width: 20em;
  height: 20em;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}